{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-duplicate-imports": "error",
    "no-constant-binary-expression": "error",
    "no-template-curly-in-string": "error",
    "no-use-before-define": "error",
    "require-atomic-updates": "error"
  }
}
