.DS_Store

dist
node_modules
package-lock.json

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
coverage/

# IDEs
.idea
.vscode
.ionide/

# dotnet CLI tests
# dotnet publish:
test/**/bin

# dotnet restore:
test/**/obj/**
!test/**/obj/**/
!*.assets.json

# C# code
lib/cs/**/bin*
lib/cs/**/obj*
