node_modules
dist
package-lock.json
.nyc_output/
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.idea
.vscode
.ionide/
coverage/

# dotnet CLI tests
Debug/
test/**/bin
test/**/*.g.props
test/**/*.g.targets
test/**/*.dgspec.json
test/**/*.cache
