{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.csproj",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.json",
      "options": {
        "printWidth": 40,
        "parser": "json",
        "bracketSpacing": true,
        "trailingComma": "none"
      }
    }
  ]
}
