version: 2.1

orbs:
  node: circleci/node@5.1.0
  win: circleci/windows@5.0.0
  prodsec: snyk/prodsec-orb@1

defaults: &defaults
  parameters: &default_parameters_list
    node_version:
      type: string
      default: ""
  working_directory: ~/snyk-nuget-plugin

defaults_test: &defaults_test
  <<: *defaults
  parameters:
    <<: *default_parameters_list
    test_type:
      type: enum
      enum: [ "unit", "smoke" ]

matrix_unix_node_version: &matrix_unix_node_version
  node_version: [ "16.20.0", "18.16.0", "20.3.1" ]

matrix_windows_node_version: &matrix_windows_node_version
  node_version: [ "16.20.0", "18.16.0", "20.3.1" ]

filters_branches_only_main: &filters_branches_only_main
  filters:
    branches:
      only:
        - main

filters_branches_ignore_main: &filters_branches_ignore_main
  filters:
    branches:
      ignore:
        - main

commands:
  node_install_packages:
    description: Install NPM packages
    steps:
      - run:
          # The Node orb handles all the boring work for us, but they do not understand repos with no package-lock.json
          name: Create fake package-lock.json
          command: touch package-lock.json
      - node/install-packages:
          cache-only-lockfile: false
          override-ci-command: npm i

  show_node_version:
    description: Log Node and npm version
    steps:
      - run:
          name: Node version
          command: node --version
      - run:
          name: NPM version
          command: npm --version

  install_dotnet:
    description: Install the dotnet CLI
    parameters:
      os:
        type: enum
        enum: [ "unix", "windows" ]
    steps:
      - restore_cache:
          name: Restore Dotnet executable
          keys:
            - dotnet-cli-{{ arch }}-v11
      - when:
          condition:
            equal: [ "unix", << parameters.os >> ]
          steps:
            - run:
                name: Download and install dotnet
                command: |
                      DOTNET_VERSIONS=("9.0.201" "8.0.406" "7.0.410" "6.0.428")

                      echo "dotnet could not be found or was of wrong version, removing existing and downloading new"
                      echo 
                      
                      for version in "${DOTNET_VERSIONS[@]}"; do
                        curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --version $version --install-dir ~/.local/apps/dotnet
                      done


                      mkdir -p ~/.local/bin
                      if [ ! -L ~/.local/bin/dotnet ] || [ "$(readlink ~/.local/bin/dotnet)" != "$HOME/.local/apps/dotnet/dotnet" ]; then
                        ln -sf ~/.local/apps/dotnet/dotnet ~/.local/bin/dotnet
                      fi

                      export PATH="$HOME/.local/bin:$PATH"
            - save_cache:
                key: dotnet-cli-{{ arch }}-v11
                paths:
                  - ~/.local/apps/dotnet
                  - ~/.local/bin/dotnet
      - when:
          condition:
            equal: [ "windows", << parameters.os >> ]
          steps:
            - run:
                name: Download and install dotnet
                # dotnet is already installed on Windows, removing it and install the desired versions.
                command: |
                      $DOTNET_VERSIONS = @("9.0.201", "8.0.406", "7.0.410", "6.0.428")

                      # Remove existing dotnet installation
                      Remove-Item -Path "C:\Program Files\dotnet" -Recurse -Force -ErrorAction SilentlyContinue

                      Invoke-WebRequest -Uri "https://dot.net/v1/dotnet-install.ps1" -OutFile "dotnet-install.ps1"
                      foreach ($version in $DOTNET_VERSIONS) {
                          powershell -File "dotnet-install.ps1" -Version $version -InstallDir "C:\Program Files\dotnet"
                      }
                shell: powershell.exe
            - save_cache:
                key: dotnet-cli-{{ arch }}-11
                paths:
                  - C:\Program Files\dotnet

  show_dotnet_version:
    description: Log Dotnet version
    steps:
      - run:
          name: Dotnet version
          command: dotnet --version

jobs:
  security-scans:
    resource_class: small
    <<: *defaults
    docker:
      - image: cimg/node:<< parameters.node_version >>
    steps:
      - checkout
      - node_install_packages
      - run:
          name: Generate package-lock.json (Required for snyk OS scanning)
          command: npm install --package-lock
      - show_node_version
      - prodsec/security_scans:
          mode: auto
          open-source-additional-arguments: --exclude=test
          iac-scan: disabled

  lint:
    <<: *defaults
    docker:
      - image: cimg/node:<< parameters.node_version >>
    steps:
      - checkout
      - node_install_packages
      - show_node_version
      - run:
          name: Run lint
          command: npm run lint

  test-windows:
    <<: *defaults_test
    environment:
      DOTNET_CLI_TELEMETRY_OPTOUT: "true"
      npm_config_loglevel: silent
    executor:
      name: win/default
      shell: bash
    steps:
      - run: git config --global core.autocrlf false
      - checkout
      - install_dotnet:
          os: "windows"
      - show_dotnet_version
      - node/install
      - node_install_packages
      - show_node_version
      - run:
          name: Run tests
          no_output_timeout: 20m
          command: npm run test:<< parameters.test_type >>
          shell: bash.exe

  test-unix:
    <<: *defaults_test
    environment:
      DOTNET_CLI_TELEMETRY_OPTOUT: "true"
    docker:
      - image: cimg/node:<< parameters.node_version >>
    steps:
      - checkout
      - install_dotnet:
          os: "unix"
      - show_dotnet_version
      - node_install_packages
      - show_node_version
      - run:
          name: Run tests
          no_output_timeout: 20m
          command: npm run test:<< parameters.test_type >>

  release:
    <<: *defaults
    docker:
      - image: cimg/node:<< parameters.node_version >>
    resource_class: small
    steps:
      - checkout
      - node_install_packages
      - run:
          name: Publish to GitHub
          command: npx semantic-release

workflows:
  version: 2
  test_and_release:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: snyk-vuln-alerts-sca
          trusted-branch: main
          <<: *filters_branches_ignore_main

      - security-scans:
          name: Security Scans
          node_version: "16.20"
          context:
            - open_source-managed
            - nodejs-install

      - lint:
          name: Lint
          context: nodejs-install
          node_version: "16.20"
          <<: *filters_branches_ignore_main

      - test-unix:
          matrix:
            alias: test-unix-unit
            parameters:
              <<: *matrix_unix_node_version
              test_type: [ "unit" ]
          name: Unix Unit Tests for Node=<< matrix.node_version >>
          context: nodejs-install
          node_version: "<< matrix.node_version >>"
          requires:
            - Lint

      - test-unix:
          matrix:
            alias: test-unix-smoke
            parameters:
              test_type: [ "smoke" ]
              node_version: [ "lts" ]
          name: Unix Smoke Tests for Node=<< matrix.node_version >>
          context: nodejs-install
          node_version: "<< matrix.node_version >>"
          requires:
            - Lint

      - test-windows:
          matrix:
            alias: test-windows-unit
            parameters:
              <<: *matrix_windows_node_version
              test_type: [ "unit" ]
          name: Windows Unit Tests for Node=<< matrix.node_version >>
          context: nodejs-install
          node_version: "<< matrix.node_version >>"
          requires:
            - Lint

      - test-windows:
          matrix:
            alias: test-windows-smoke
            parameters:
              test_type: [ "smoke" ]
              node_version: [ "lts" ]
          name: Windows Smoke Tests for Node=<< matrix.node_version >>
          context: nodejs-install
          node_version: "<< matrix.node_version >>"
          requires:
            - Lint

      - release:
          name: Release
          context: nodejs-app-release
          node_version: "lts"
          requires:
            - test-unix-unit
            - test-unix-smoke
            - test-windows-unit
            - test-windows-smoke
          <<: *filters_branches_only_main
